{
    "extends": [
        "plugin:prettier/recommended"   
    ],
    "parserOptions": {
        "parser": "@babel/eslint-parser"
    },
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": "error"
    }
} 